<section class="lections-section" data-lvl="lvl-base">
  <div class="container lections-section__container">
    <div class="lections-section__heading">
      <span class="lections-section__lvl">Базовый уровень</span>
      <h2 class="lections-section__title title">Html/css</h2>
    </div>

    <div class="lections-section__controls">
      <a
        href="#"
        class="lections-section__btn btn btn--fill"
        title="Все лекции на курсе"
        >Все лекции</a
      >
      <div class="lections-section__slider-nav slider-nav">
        <button class="btn-reset slider-nav__btn lections-section__prev">
          <svg aria-hidden="true">
            <use xlink:href="img/sprite.svg#slider-nav-btn-prev"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn lections-section__next">
          <svg aria-hidden="true">
            <use xlink:href="img/sprite.svg#slider-nav-btn-next"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="lections-section__lection-items">
      <div class="lections-section__lection-item card">
        <div class="card__category">Лекция</div>
        <div class="card__header">
          <img
            src="./img/lections/lection-poster-image-1.png"
            alt="Lection's poster image"
            class="card__poster-image"
          />
        </div>
        <div class="card__body">
          <h3 class="card__title">Структура HTML</h3>
          <p class="card__descr">Назначение блоков: head, body</p>
        </div>
        <div class="card__footer">
          <time class="card__lection-date" datetime="2022-02-01 20:00"
            >01.02.2022</time
          >
          <a href="#" class="card__btn btn btn--fill">Смотреть</a>
        </div>
      </div>

      <div class="lections-section__lection-item card">
        <div class="card__category">Лекция</div>
        <div class="card__header">
          <img
            src="./img/lections/lection-poster-image-2.png"
            alt="Lection's poster image"
            class="card__poster-image"
          />
        </div>
        <div class="card__body">
          <h3 class="card__title">Подключение стилей</h3>
          <p class="card__descr">
            Виды подключения стилей. Подключение шрифтов
          </p>
        </div>
        <div class="card__footer">
          <time class="card__lection-date" datetime="2022-02-03 20:00"
            >03.02.2022</time
          >
          <a href="#" class="card__btn btn btn--fill">Смотреть</a>
        </div>
      </div>

      <div class="lections-section__lection-item card">
        <div class="card__category">Лекция</div>
        <div class="card__header">
          <img
            src="./img/lections/lection-poster-image-3.png"
            alt="Lection's poster image"
            class="card__poster-image"
          />
        </div>
        <div class="card__body">
          <h3 class="card__title">CSS</h3>
          <p class="card__descr">Базовый синтаксис CSS: селекторы, классы</p>
        </div>
        <div class="card__footer">
          <time class="card__lection-date" datetime="2022-02-08 20:00"
            >08.02.2022</time
          >
          <a href="#" class="card__btn btn btn--fill">Смотреть</a>
        </div>
      </div>

      <div class="lections-section__lection-item card">
        <div class="card__category">Лекция</div>
        <div class="card__header">
          <img
            src="./img/lections/lection-poster-image-4.png"
            alt="Lection's poster image"
            class="card__poster-image"
          />
        </div>
        <div class="card__body">
          <h3 class="card__title">Наследие и каскад</h3>
          <p class="card__descr">Наследие и каскад</p>
        </div>
        <div class="card__footer">
          <time class="card__lection-date" datetime="2022-02-10 20:00"
            >10.02.2022</time
          >
          <a href="#" class="card__btn btn btn--fill">Смотреть</a>
        </div>
      </div>
    </div>
  </div>
</section>
