<section class="lections-section" data-lvl="lvl-pro">
  <div class="container">
    <div class="lections-section__heading">
      <span class="lections-section__lvl">Продвинутый уровень</span>
      <h2 class="lections-section__title title">Html/css</h2>
    </div>

    <div class="lections-section__controls">
      <a
        href="#"
        class="lections-section__btn btn btn--fill"
        title="Все лекции на курсе"
        >Все лекции</a
      >
      <div class="lections-section__slider-nav slider-nav">
        <button class="btn-reset slider-nav__btn lections-section__prev">
          <svg aria-hidden="true">
            <use xlink:href="img/sprite.svg#slider-nav-btn-prev"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn lections-section__next">
          <svg aria-hidden="true">
            <use xlink:href="img/sprite.svg#slider-nav-btn-next"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="lections-section__lection-items">
      <div class="lections-section__lection-item card">
        <div class="card__category">Лекция</div>
        <div class="card__header">
          <img
            src="./img/lections/lection-poster-image-1.png"
            alt="Lection's poster image"
            class="card__poster-image"
          />
        </div>
        <div class="card__body">
          <h3 class="card__title">HTML-формы</h3>
          <p class="card__descr">HTML-формы</p>
        </div>
        <div class="card__footer">
          <time class="card__lection-date" datetime="2022-02-12 20:00"
            >12.02.2022</time
          >
          <a href="#" class="card__btn btn btn--fill">Смотреть</a>
        </div>
      </div>

      <div class="lections-section__lection-item card">
        <div class="card__category">Лекция</div>
        <div class="card__header">
          <img
            src="./img/lections/lection-poster-image-2.png"
            alt="Lection's poster image"
            class="card__poster-image"
          />
        </div>
        <div class="card__body">
          <h3 class="card__title">Flex</h3>
          <p class="card__descr">Принципы современной верстки на flex</p>
        </div>
        <div class="card__footer">
          <time class="card__lection-date" datetime="2022-02-14 20:00"
            >14.02.2022</time
          >
          <a href="#" class="card__btn btn btn--fill">Смотреть</a>
        </div>
      </div>

      <div class="lections-section__lection-item card">
        <div class="card__category">Лекция</div>
        <div class="card__header">
          <img
            src="./img/lections/lection-poster-image-3.png"
            alt="Lection's poster image"
            class="card__poster-image"
          />
        </div>
        <div class="card__body">
          <h3 class="card__title">Media и viewport</h3>
          <p class="card__descr">
            Адаптивная верстка. Использование media и viewport
          </p>
        </div>
        <div class="card__footer">
          <time class="card__lection-date" datetime="2022-02-16 20:00"
            >16.02.2022</time
          >
          <a href="#" class="card__btn btn btn--fill">Смотреть</a>
        </div>
      </div>

      <div class="lections-section__lection-item card">
        <div class="card__category">Лекция</div>
        <div class="card__header">
          <img
            src="./img/lections/lection-poster-image-4.png"
            alt="Lection's poster image"
            class="card__poster-image"
          />
        </div>
        <div class="card__body">
          <h3 class="card__title">CSS Grid</h3>
          <p class="card__descr">CSS Grid</p>
        </div>
        <div class="card__footer">
          <time class="card__lection-date" datetime="2022-02-18 20:00"
            >18.02.2022</time
          >
          <a href="#" class="card__btn btn btn--fill">Смотреть</a>
        </div>
      </div>
    </div>
  </div>
</section>
